/* GERAL */

html {
    color: #373A3C;
    font-family: "Open Sans", sans-serif;
}

a {
    transition: .5s;
}

/* sidebar */

.sidebar {
    background-color: #f4f4f4;
    padding: 100px;
    width: 200px;
    background-color: #006599;
    padding-top: 40px;
}

#sidebar h1 {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover {
    color: #f4f4f4;
}

#sidebar li {
    padding: 20px;
}

.sidebar-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria {
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}